VITE_API_BASE_URL=/api
VITE_DEV_API_TARGET=https://localhost:7273
VITE_DEV_ORDER_API_TARGET=https://localhost:64385
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51TyAbTHlvddvl3TSoiJhhICb0XXBZqdvTUxm3s5VFk7PuOenzFMZyudmG6CTgep3X4vs3B9HHjjmw54hszUA4GGj00PY9Ne6vW
